* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --medium: 400;
    --bold: 600;
}

/*  
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; 
*/

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    background-color: var(--Violet);
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    grid-template-rows: 1fr 6fr 1fr 1fr;
}

/* header */

header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header span {
    background-image: url('../images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 40%;
}

/* Main */

main {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

/* === image-section === */

main .image-section {
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .image-section span {
    background-image: url('../images/illustration-mockups.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 85%;
    width: 100%;
}

/* === Text section === */

main .text-section {
    grid-row: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
}

.text-section h1 {
    font-weight: var(--bold);
    font-size: 2rem;
    text-align: center;
}

.text-section p {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.text-section a {
    text-decoration: none;
    color: var(--Violet);
    padding-block: 1rem;
    padding-inline: 7rem;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.4);
    transition: all .4s ease-in-out;
}

.text-section a:hover {
    background-color: var(--Soft-Magenta);
    color: white;
}

/* footer */

footer {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

footer span {
    height: 2.4rem;
    width: 2.4rem;
}



footer span:nth-of-type(1) {
    background-image: url('../images/facebook-circled.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

footer span:nth-of-type(1):hover {
    background-image: url('../images/facebook-circled_1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

footer span:nth-of-type(2) {
    background-image: url('../images/twitter-circled.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

footer span:nth-of-type(2):hover {
    background-image: url('../images/twitter-circled_1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

footer span:nth-of-type(3) {
    background-image: url('../images/instagram2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

footer span:nth-of-type(3):hover {
    background-image: url('../images/instagram.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* attribution styles */

.attribution-section {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4;
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.attribution-section .attribution-button {
    padding: 0.6rem;
    background-color: white;
    color: var(--Violet);
    border-radius: 1rem;
    transition: all .4s ease-in-out;
    text-decoration: none;
}
.attribution-button:hover {
    color: var(--Violet);
}

@media (min-width: 1000px) {
    body {
        background-image: url('../images/bg-desktop.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
        width: 100vw;
        background-color: var(--Violet);
        grid-template-rows: 1fr 4fr 1fr 1fr;
    }

    header {
        display: flex;
        justify-content: flex-start;
    }
    header span{
        width: 20%;
        height: 60%;
    }

    main {
        display: grid;
        grid-template-columns: 6fr 4fr;
        grid-template-rows: 1fr;
        grid-row: 2;
    }
    main .image-section {
        grid-column: 1;
        grid-row: 1 / 2;
    }
    main .text-section {
        grid-column: 2;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    main .text-section h1 {
        font-size: 3rem;
        text-align: start;
    }
    main .text-section p {
        text-align: start;
    }
    main .text-section a {
        text-align: start;
        font-size: 1.6rem;
        padding-inline: 3rem;
    }   
    footer {
        justify-content: flex-end;
    }
    footer span {
        height: 3.4rem;
        width: 3.4rem;
    }
}